<header class="site-header">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <div class="brand">
          <a class="site-title" href="{{ site.baseurl }}/" onClick="ga('send','event','logo','click')"><img src="/img/logo.svg"></a>
          <div class="sub-brand"><a href="http://ciudadanointeligente.org" target="_blank" onClick="ga('send','event','de-fci','click')">de CiudadanoInteligente.org</a>
          </div>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseurl }}/" onClick="ga('send','event','inicio-nav','click')">Inicio</a></li>
          <li><a href="{{ site.baseurl }}/que-es.html" onClick="ga('send','event','que-es-nav','click')">¿Qué es?</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">La transparencia que queremos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/partidos-politicos.html" onClick="ga('send','event','rol-partidos-politicos-nav','click')">Rol de los partidos políticos</a></li>
            <li><a href="{{ site.baseurl }}/transparencia.html" onClick="ga('send','event','transparencia-nav','click')">Transparencia</a></li>
            <li><a href="{{ site.baseurl }}/nueva-ley.html" onClick="ga('send','event','nueva-ley-nav','click')">Nueva Ley de partidos políticos</a></li>
          </ul>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

</header>
