/*HEADER*/
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-family: 'Karla', sans-serif;
}

p{
    font-family: 'Karla', sans-serif;
    &.blue-dark{
        color: $blue-dark;
    }
    &.white{
        color: white;
    }
    &.destacado{
        font-size: 16px;
        line-height: 24px;
    }
}

a{
    color: $sky-dark;
    &:hover{
        color: $orange;
        text-decoration: none;
    }
}

/*HEADER*/
.navbar-default{
    background-color: $blue;
    font-family: 'Karla', sans-serif;
    height: 75px;
    border: none;
}

.navbar-default .navbar-nav > li > a{
    color: white;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    :hover{
        color: $orange;
    }
}

.navbar-default .navbar-nav > li > a:hover{
    color: $orange;
}

.navbar-nav > li > a{
    padding-top: 28px;
}

.brand{
    margin-top: 15px;
}

.sub-brand{
    position: relative;
    left: 101px;
    top: -14px;
}

.sub-brand a{
    &:visited{
        color: white;
    }
    &:hover{
    color: $orange;
    text-decoration: none;
    background-color: transparent;
    }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: white;
    background-color: transparent;
}

.dropdown-menu{
    color: white;
    background-color: $blue;
    border: none;
    box-shadow: none;
    border-radius: 0;
    a{
        color: white;
    }
}

.dropdown-menu>li>a{
    color: white;
    &:hover{
        background-color: $blue;
        color: $orange;
    }

}
/*WELCOME*/
#welcome {
    background-position: center;
    background-position-y: -90px;
    background-repeat: no-repeat;
    max-height: 800px;
    background-image: url(../img/header.png);
}

.jumbotron {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    min-height: 600px;
    padding-top: 120px;
    margin-bottom: 0px;
    h1{
      color: $blue-dark;
      font-size: 50px;
      text-shadow: -3px 3px 0px white;
      font-weight: 700;
    }
    p{
      color: white;
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 80px;
      font-weight: 400;     
    }
}

/*SECTIONS*/
.section{
    padding: 80px 0 80px;
    &.sky-dark{
        background-color: $sky-dark;
    }
    &.nude{
        background-color: $nude;
    }
    &.orange{
        background-color: $orange;
        &.hand{
            background-image: url("../img/hand.png");
            background-repeat: no-repeat;
            background-position-x:90%;
            background-position-y: 170px;
            min-height: 410px;
        }
    }
    &.blue-dark{
        background-color: $blue-dark;
    }
}

/*HEADINGS*/
h1, h2 , h3, h4, h5{
    font-family: 'Karla', sans-serif;
}

h2{
    font-size: 26px;
    margin-top: 30px;
    &.orange{
        color: $orange;
    }
    &.white{
        color: white;
    }
    &.blue-dark{
        color: $blue-dark;
    }
    &.sky-dark{
        color: $sky-dark;
    }
}

h3{
    font-weight: 700;
    color: $blue-dark;
}

h4{
    margin: 30px 0 10px 0;
    &.white{
        color: white;
    }
}

h5{
    text-transform: uppercase;
    font-weight: 700;
}

/*BUTTONS*/
.btn{
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0;
    border: 3px solid white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 20px;
    color: $blue-dark;
    margin: 30px 0 30px;
    &.orange{
        border: 3px solid $orange;
    }
}

.btn:visited{
    color: $blue-dark;
}

.btn:hover{
    background-color: $blue-dark;
    color: white;
    border-radius: 0;
    border: 3px solid $blue-dark;
}

/*PANELS*/
.panel{
    border: none;
    border-radius: 0;
    margin-top: 30px;
    &.shadow-sky{
        box-shadow: -5px 5px 0px $sky-dark;
    }
    &.shadow-green{
        box-shadow: -5px 5px 0px $green-dark;
    }
    &.shadow-orange{
        box-shadow: -5px 5px 0px $orange-dark;
    }
    &.shadow-white{
        .panel-body{
            padding: 0px;
        }
    }
    &.shadow-sky-card{
        box-shadow: -5px 5px 0px $sky-dark;
        min-height: 400px;
    }
    &.shadow-orange-card{
        box-shadow: -5px 5px 0px $orange-dark;
        min-height: 445px;
    }
    &.green{
        background-color: $green-dark;
    }
    &.orange{
        background-color: $orange-dark;
    }
    &.sky{
        background-color: $sky-dark;
    }
}


/*IMAGES*/
img {
    max-width: 100%;
    vertical-align: middle;
}

/*MODALS*/
.modal-content{
    background-color: $orange;
    border: none;
    border-radius: 0;
    box-shadow: -5px 5px 0px $nude-light;
    &.hand{
            background-image: url("../img/hand.png");
            background-repeat: no-repeat;
            background-position-x:90%;
            background-position-y: 170px;
            min-height: 410px;
    }   
}

.modal-header{
    border: none;
}

.modal{
    top: 80px;
}



/*FOOTER*/

footer {
  background: white;
  color: $blue-dark;
  padding: 75px 0 50px;
  position: relative;
  img{
    max-width: 220px;
  }
  a{
    color: $orange;
    &:hover{
        color: $blue-dark;
    }
  }
}

@media screen and (max-width: 1000px) {
.navbar-toggle{
    margin-top: -49px;
}

.navbar-nav{
    margin-top: 0;
    background-color: $blue;
}

.navbar-collapse{
    border: none;
}

}

@media screen and (max-width: 991px) {


/*PANELS*/
    .panel{
        &.shadow-sky-card{
            min-height: inherit;
        }
    }

}

@media screen and (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: white;
    &:hover{
        color: $orange;
    }
}

/*PANELS*/
    .panel{
        &.shadow-orange-card{
            min-height: inherit;
        }
    }
}